html {
  height: 100%;
  background-color: rgb(191, 196, 208);
  font-family: sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  flex: 9;
  overflow-y: scroll;
}

/* no file loaded hint */
main.nofile:after {
  display: block;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  content: "No file loaded at the moment!";
  text-align: center;
}

/* drag & drop */
main.dragover {
  overflow-y: auto;
  background-color: rgb(169, 169, 219);
  border: 5px dashed rgb(129, 129, 169);
}
main.dragover:after {
  display: block;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  content: "Drop here to load this file!";
  text-align: center;
}
main.dragover > #play {
  display: none;
}
main.dragover.invalid {
  background-color: rgb(219, 169, 169);
  border-color: rgb(169, 113, 113);
}
main.dragover.invalid:after {
  content: "Only irct files are allowed!";
}

footer {
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  background-color: #444;
  color: #bbb;
}

#play {
  position: relative;
  display: table;
  flex: 9;
  padding-left: 3em;
}

#play:before {
  position: absolute;
  top:0;
  left: 0;
  display: block;
  content: " ";
  width: 2em;
  height: 100%;

  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.5) 1px, transparent 1px);
  background-size: 100px 100px, 20px 20px;
  background-position: -2px -2px, -1px -1px;
  background-repeat-x: no-repeat;
}
